
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    background-color: #696969;
}
section{
    border-radius: 10px;
    padding: 19px;
    background-color: #4b4949;
    height: auto;
    width: 31%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
input{
    margin-bottom: 6px;
    padding: 2px 0px 2px 0px;
    width: 410px;
    height: 48px;
    font-size: medium;
    border-color: rgb(0, 0, 0);
    border-radius: 5px;
    color: #fdfdfd;
    background-color: rgba(0, 0, 0, 0.452);
}
h1{
    color: #fdfdfd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    margin-bottom: 20px;
}

.botao{
    background-color: rgb(0, 0, 0);
    color: #fdfdfd;
    font-size: 31px;
    padding: 2px 25px 2px 25px;
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;
    height: 48px;
    width: 100px;
    margin-bottom: 5px;
}

.botao2{
    background-color: rgb(34, 39, 39);
    color: #fdfdfd;
    font-size: 31px;
    padding: 2px 25px 2px 25px;
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;
    height: 48px;
    width: 100px;
    margin-bottom: 5px;
}

.botao3{

    background-color: rgb(34, 39, 39);
    color: #fdfdfd;
    font-size: 30px;
    padding: 2px 25px 2px 25px;
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;
    width: 415px;
    height: 48px;
}